<html>
<head>
<script type="text/javascript" src="validate.js"></script>
</head>
<body>
<form action="#" name="StudentRegistration" onsubmit="return(validate());">

<table cellpadding="2" width="20%" bgcolor="99FFFF" align="center"
cellspacing="2">

<tr>
<td colspan=2>
<center><font size=4><b>Class Registration Form</b></font></center>
<center><font size=3><b>Seminar</b></font></center>
<font size= 3 > <b> Note: All Seminars will be held in 20,x street 021</b></font>
</td>
</tr>





<tr>
<td>Choose Instructor</td>
<td><select name="Instructor">
<option value="-1" selected>Select..</option>
<option value="New Delhi">James</option>
<option value="Mumbai">Steph</option>
<option value="Goa">lilly</option>
</select></td>
</tr>

<tr>
<td>Choose Date</td>
<td><select name="Course">
<option value="-1" selected>choose Date.</option>

</select></td>
</tr>

<tr>
<td>Choose Timeslot</td>
<td><select name="Timeslot">
<option value="-1" selected>select..</option>
<option value="Wed">Wed, 2-3 pm</option>
<option value="Saturday">Sat, 4-5pm</option>
<option value="Goa">Sun, 10-11am</option>
</select></td>

</tr>

<tr>
<td>Number of Attendees</td>
<td><select Name="Attendees">
<option value="-1" selected>select..</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
</select></td>
</tr>
<tr>



<td><input type="reset"></td>
<td colspan="2"><input type="submit" value="Register" /></td>
</tr>
</table>
</form>
</body>
</html>