

*{
    margin:0;
    padding:0;
}

body{
    background:#FFFFFF; 
    font-family: 'Source Sans Pro', sans-serif;
}
.form{
    width:400px; 
    margin:0 auto; 
    background:#1C2B4A; 
    margin-top:150px;
}
.header{
    height:44px; 
    background:#17233B;
}
.header h2{
    height:44px; 
    line-height:44px; 
    color:#fff; 
    text-align:center;
}
.login{
    padding:0 20px;
}

.login span.un{
    width:10%;
    text-align:center;
    color:#0C6;
    border-radius:3px 0 0 3px;
}
.text{
    background:#12192C;
    width:90%;
    border-radius:0 3px 3px 0;
    border:none;
    outline:none;
    color:#999;
    font-family: 'Source Sans Pro', sans-serif;
}
.text,.login span.un{
    display:inline-block;
    vertical-align:top;
    height:40px;
    line-height:40px;
    background:#12192C;
}

.btn{
    height:40px;
    border:none;
    background:#0C6;
    width:100%;
    outline:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:20px;
    font-weight:bold;
    color:#eee;
    border-bottom:solid 3px #093;
    border-radius:3px;
    cursor:pointer;
}
ul li{
    height:40px;
    margin:15px 0;
    list-style:none;
}
.span{
    display:table;
    width:100%;
    font-size:14px;
}
.ch{
    display:inline-block;
    width:50%;
    color:#CCC;
}
.ch a{
    color:#CCC;
    text-decoration:none;
}
.ch:nth-child(2){
    text-align:right;
}
/*social*/
.social{
    height:30px;
    line-height:30px;
    display:table;
    width:100%;
}
.social div{
    display:inline-block;
    width:42%;
    color:#eee;
    font-size:12px;
    text-align:center;
    border-radius:3px;
}
.social div i.fa{
    font-size:16px;
    line-height:30px;
}
.fb{
    background:#3B5A9A;
    border-bottom:solid 3px #036;
}
.tw{
    background:#2CA8D2;
    margin-left:16%;
    border-bottom:solid 3px #3399CC;
}
/*bottom*/
.sign{
    width:90%;
    padding:0 5%;
    height:50px;
    display:table;
    background:#17233B;
}
.sign div{
    display:inline-block;
    width:50%;
    line-height:50px;
    color:#ccc;
    font-size:14px;
}
.up{
    text-align:right;
}
.up a{display:block;
    background:#096;
    text-align:center;
    height:35px;
    line-height:35px;
    width:50%;
    font-size:16px;
    text-decoration:none;
    color:#eee;
    border-bottom:solid 3px #006633;
    border-radius:3px;
    font-weight:bold;
    margin-left:50%;
}

@media(max-width:480px){ .form{width:100%}}

.profile-img-card {
    width:100px;
    height:100px;
    margin:0 10px;
    display:block;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
}

h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.team-list {
    list-style-type: none;
    width: 500px;
}
.profile-img {
    float: left;
    margin: 0 15px 0 0;
}

.inherit-height {
    height: inherit;
    padding: 10px;
    overflow: hidden;
}

li.inherit-height:hover {
    background: #eee;
    cursor: pointer;
}

.medium-btn {
    width: 150px;
    height: 40px;
}

.inline-display {
    display: inline-table;
}

.half {
    position:relative;
}

.half:after {
    content:'';
    position:absolute;
    z-index:1;
    background:white;
    width: 50%;
    height: 100%;
    left: 47%;
}

.half:hover {
    background: #eee;
}

.star-color {
    color:goldenrod;
}

.italic-font {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
    font-style:italic;
    font-family:cursive;
}

.note {
    margin-bottom: 40px;
    font-style: italic;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    color: #a2a39e;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 80%;
}

.green-color {
    color: green;
}

.red-color {
    color: red;
}

.black-color {
    color: black;
}

.white-color
{
    color:white;
}

.connect-button
{
    background: rgb(40,53,147);
    color: rgba(255,255,255,0.87);
}

.request-button
{
    background: #FF85A1;

}

.button:disabled {
    color:rgb(40,53,147);;
}

.listdemoBasicUsage md-divider {
    margin-top: 10px;
    margin-bottom: 0; }

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important; }
.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white; }
.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

.fit
{
    max-width: 99%;
    max-height:99%;
}


.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}
.progress-animated .progress-bar,
.progress-animated .bar {
    background: url("../img/progressbar.gif") !important;
    filter: none;
}
.fileupload-process {
    float: right;
    display: none;
}
.fileupload-processing .fileupload-process,
.files .processing .preview {
    display: block;
    width: 32px;
    height: 32px;
    background: url("../img/loading.gif") center no-repeat;
    background-size: contain;
}
.files audio,
.files video {
    max-width: 300px;
}

@media (max-width: 767px) {
    .fileupload-buttonbar .toggle,
    .files .toggle,
    .files .btn span {
        display: none;
    }
    .files .name {
        width: 80px;
        word-wrap: break-word;
    }
    .files audio,
    .files video {
        max-width: 80px;
    }
    .files img,
    .files canvas {
        max-width: 100%;
    }
}


.fileinput-button input {
    position: static;
    opacity: 1;
    filter: none;
    font-size: inherit !important;
    direction: inherit;
}
.fileinput-button span {
    display: none;
}

.upload_btn
{
    height:40px;
    border:none;
    background:rgb(40,53,147);
    width:50%;
    outline:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:20px;
    font-weight:bold;
    color:white;
    border-bottom:rgb(40,53,147);
    border-radius:3px;
    cursor:pointer;

}

.preview_btn
{
    height:40px;
    border:none;
    background:#ff4081;
    width:100%;
    outline:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:20px;
    font-weight:bold;
    color:white;
    border-bottom: #ff4081;
    border-radius:3px;
    cursor:pointer;

}
.upload_txt
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:20px;
    font-weight:bold;
}
.preview
{
    max-width:100%;
    max-height:100%;
}
